@tailwind base;
@tailwind components;
@tailwind utilities;






.theme-light{
  color: black;
  background-color: #adc0da ;
}

.custom-box-shadow {
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .inputBoxShadow {
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }

.font-size{
    font-size: 1.5rem;
}
  
  .scrollbar-visible {
    scrollbar-color: #888 #f1f1f1; /* Adjust colors as needed */
  }
  
  .hide-scroll:hover::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar {
    width: 0px;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: rgb(31 41 55 /1);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  @media (max-width: 1080px) {
    .hidden-sidebar {
      display: none !important;
    }
  }



h1 {
  @apply text-2xl font-bold mb-4;
}

h2 {
  @apply text-xl font-bold mb-4;
}
h3 {
  @apply text-lg font-bold mb-4;
}
h4 {
  @apply text-xl font-bold mb-4;
}
h5 {
  @apply text-base font-bold mb-4;
}
h6 {
  @apply text-base font-bold mb-4;
}



p {
  @apply text-base font-normal mb-4;
}

ul {
  @apply list-disc pl-4;
}

li {
  @apply text-base font-normal;
}